.checkbox.style-e {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-e input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-e input:checked ~ .checkbox_checkmark {
  background-color: var(--red-base-color);
}
.checkbox.style-e input:checked ~ .checkbox_checkmark:after {
  left: 21px;
}
.checkbox.style-e:hover input ~ .checkbox_checkmark {
  background-color: rgb(174, 174, 174);
}
.checkbox.style-e:hover input:checked ~ .checkbox_checkmark {
  background-color: var(--red-hover-color);
}
.checkbox.style-e .checkbox_checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #717171;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-e .checkbox_checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox.style-e .checkbox_body {
  transition: color 0.25s ease;
}