@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-base-color: rgb(220 38 38);
  --red-hover-color: rgb(185 38 38);
}

body {
  background-color: black;
  overflow: hidden;
}
